.flex
  display: flex

.flex-space-between
  justify-content: space-between

.flex-right
  justify-content: flex-end

.flex-align-items
  align-items: center

.flex-center
  justify-content: center

.list-style
  list-style: none

.text-decoration
  text-decoration: none

.center
  text-align: center

.box-shadow
  box-shadow: 0 10px 10px 0 rgba(0 0 0, .07)

.box-shadow-two
  box-shadow: 0 20px 45px 0 rgba(0 0 0, .08)

.box-shadow-three
  box-shadow: 0 10px 25px 0 rgba(0 0 0, .04)

.box-shadow-four
  box-shadow: 0 10px 25px 0 rgba(0 0 0, .1)