// Extend
@import "extends/index"

// Plugin
@import "plugin/swiper"

// Layout
@import "layout/page"
@import "layout/btn"
@import "layout/info"
@import "layout/head"
@import "layout/logo"
@import "layout/nav"
@import "layout/benefits"
@import "layout/delivery"
@import "layout/tab"
@import "layout/responder"
@import "layout/half"
@import "layout/warranty"
@import "layout/bookmark"
@import "layout/form"
@import "layout/chat"
@import "layout/modal"
@import "layout/content"
@import "layout/doc"
@import "layout/catalog"
@import "layout/dadata"
@import "layout/contacts"
@import "layout/maps"
@import "layout/filter"
@import "layout/categori"
@import "layout/card"
@import "layout/preloader"
@import "layout/request"
@import "layout/foot"