+media(any)

  .bookmark
    background: #f8fafe
    padding: 100px 0

  .bookmark-box
    @extend .center
    max-width: 670px
    centered: true
    padding-top: 50px
    &__item
      p
        font-size: 20px
        line-height: 1.5
        padding-top: 20px
        color: #70799f
        &:first-child
          padding-top: 0