+media(any)

  .card
    @extend .flex, .flex-space-between
    padding-top: 30px
    &__left
      width: 370px
    &__right
      width: calc(100% - 400px)
    &__img
      @extend .box-shadow
      background: #fff
      height: 370px
      position: relative
      color: rgba(#000, .1)
      border-radius: 10px
    &__noimg
      @extend .flex, .flex-center, .flex-align-items
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      border-radius: 10px
      font-size: 60px
      line-height: 1
    &__details
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      img
        margin: auto
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        max-width: 90%
        max-height: 90%
    &__title
      font-size: 25px
      line-height: 1.4
      font-weight: bold
      margin-top: -8px
    &__span
      display: block
    &__subtitle
      padding-top: 25px
      font-size: 18px
      line-height: 1.3
      font-weight: bold
    &__table
      margin-top: 10px
      border-top: 1px solid rgba(colors.text, .3)
      border-right: 1px solid rgba(colors.text, .3)
    &__row
      display: flex
      border-bottom: 1px solid rgba(colors.text, .3)
    &__td
      width: 50%
      border-left: 1px solid rgba(colors.text, .3)
      color: colors.text
      padding: 7px 10px
    &__info
      border: 1px solid colors.bg
      background: rgba(colors.bg, .05)
      padding: 20px
      border-radius: 10px
      margin-top: 35px
      p
        padding: 0
    &__btn
      margin-top: 35px
      margin-left: 20px
      &:first-child
        margin-left: 0
    &__btn-group
      display: flex


+media(mq.tablet)

  .card
    &__left
      width: 250px
    &__right
      width: calc(100% - 280px)
    &__img
      height: 250px
    &__title
      font-size: 23px


+media(mq.phone)

  .card
    flex-wrap: wrap
    &__left
      width: 100%
    &__right
      width: 100%
    &__title
      font-size: 20px
      padding-top: 37px