+media(any)

  .categori
    list-style: none
    margin-top: 55px
    ul
      list-style: none
      li
        padding: 7px 15px
        cursor: pointer
        font-size: 15px
        border-top: 1px solid  rgba(colors.text, .3)
        &:hover
          background: rgba(colors.text, .03)
    &__title
      display: block
      background: rgba(colors.text, .05)
      padding: 7px 15px
      font-size: 15px
    &__li
      border: 1px solid  rgba(colors.text, .3)
      margin-top: 30px
      &:first-child
        margin-top: 0
