+media(any)

  .contacts-wrapper
    padding-top: 18px

  .contacts-page
    // border: 1px solid red

  .title-contacts
    font-size: 18px
    line-height: 1.3
    font-weight: bold
    padding-top: 30px