+media(any)

  .foot-label
    margin-bottom: -49px
    position: relative
    &__item
      @extend .logos-group, .flex, .flex-align-items, .flex-center
      img
        display: block
        max-width: 70%
        max-height: 70%

  .foot-box
    background: rgba(#000, .9)
    color: colors.white
    padding: 110px 0 0
    &__copyright
      border-top: 1px solid rgba(#fff, .12)
      margin-top: 60px
      padding: 20px 0

  .foot-icon
    margin: auto
    position: absolute
    top: 0
    right: 0
    transform: translateX(calc(50% + 10px))
    z-index: 2

  .foot-content
    @extend .flex
    &__item
      box-sizing: border-box
      width: 270px
      margin-left: 30px
      &:first-child
        margin-left: 0
    &__title
      text-transform: uppercase
      font-size: 14px
      font-weight: bold
      line-height: 1.3
      color: rgba(colors.white, .4)
    &__body
      font-size: 14px
      line-height: 1.5
      padding-top: 10px
      font-weight: 300
      a
        color: inherit
        text-decoration: none
        transition: opacity .1s
        &:hover
          opacity: .7
      ul
        list-style: none
      li
        margin-top: 3px
        &:first-child
          margin-top: 0

  .foot-copyright
    @extend .flex, .flex-space-between
    font-size: 14px
    line-height: 1.3
    color: rgba(colors.white, .5)
    a
      color: inherit
      text-decoration: none

  .quiz-btn
    cursor: pointer
    font-size: 30px
    line-height: 1
    width: 700px
    centered: true
    background: linear-gradient(55deg, colors.bg, colors.bg2)
    position: relative
    &:before
      content: ""
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      background: linear-gradient(top, colors.white, colors.bg3)
      border-radius: 50px
      margin: 4px
    span
      background: linear-gradient(55deg, colors.bg, colors.bg2)
      color: transparent
      position: relative
      z-index: 2
    &:hover
      &:before
        background: linear-gradient(top, colors.white, darken(colors.bg3, 5%))

  @css {
    .quiz-btn span {
      -webkit-background-clip: text !important
    }
  }


+media(mq.tablet)

  .foot-label
    margin-bottom: -35px
  
  .foot-box
    padding: 90px 0 0
    &__copyright
      margin-top: 50px

  .foot-content
    &__item
      width: 231px
      margin-left: 15px


+media(mq.phone)

  .foot-label
    margin-bottom: -25px

  .foot-content
    margin-left: 0
    margin-right: 0
    flex-direction: column

  .foot-box
    padding: 70px 0 0
    &__copyright
      margin-top: 43px

  .foot-content
    &__item
      width: 100%
      margin-left: 0
      margin-top: 40px
      &:first-child
        margin-top: 0

  .quiz-btn
    font-size: 16px
    width: 100%

  .foot-copyright
    flex-wrap: wrap
    a
      color: inherit
      text-decoration: none