+media(any)

  .yandex-maps
    @extend .box-shadow
    height: 500px
    margin-bottom: 0
    background: rgba(#000, .05)
    border-radius: 10px
    overflow: hidden
    margin-top: 65px
    margin-bottom: -181px


+media(mq.tablet)

  .yandex-maps
    height: 350px
    margin-bottom: -100px