+media(any)

  .request
    @extend .box-shadow
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    background: colors.bg3
    padding: 10px
    border-radius: 10px
    margin-top: 25px
    &__steps
    &__result
      padding: 10px
      box-sizing: border-box
    &__steps
      width: calc(100% - 370px)
    &__result
      width: 370px
      background: darken(colors.bg3, 3%)
      border-radius: 10px

  .request-progress
    background: darken(colors.bg3, 3%)
    border-radius: 10px
    width: 100%
    margin-bottom: 10px
    &__bar
      width: 0%
      height: 20px
      color: #fff
      background: linear-gradient(55deg, darken(colors.bg, 35%), darken(colors.bg2, 35%))
      box-sizing: border-box
      text-align: right
      transition: width 1s
      border-radius: 10px
      span
        display: block
        padding: 0 6px
        font-size: 12px
        line-height: 20px

  .request-title
    font-size: 18px
    line-height: 1.3
    font-weight: bold

  .request-btn-box
    display: flex
    border: 3px dashed darken(colors.bg3, 7%)
    padding: 10px
    justify-content: center
    align-items: center
    box-sizing: border-box
    .btn-more
      margin: 0
      padding: 10px 20px